#content {
    #container {
        .contact-wrapper {
            width: 100%;
            height: 100%;
            padding: 20px 30px;
            h3.section-title {
                font-family: 'Barlow Condensed', sans-serif;
                text-align: center;
                font-size: 6.25vw;
                margin-bottom: 10px;
                color: #fff;
            }
            .form-wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                form {
                    padding-bottom: 10px;
                    height: 90%;
                }
                input {
                    width: 100%;
                    margin-bottom: 15px;
                    background: #BAB3B2;
                    border: 1px solid grey;
                    font-size: 3.90625vw;
                    color: white;
                    padding: 15px;
                    &::placeholder {
                        color: white;
                        font-size: 3.90625vw;
                    }
                }
                textarea {
                    width: 100%;
                    margin-bottom: 10px;
                    height: 400px;
                    background: #BAB3B2;
                    border: 1px solid grey;
                    font-size: 3.90625vw;
                    color: white;
                    padding: 15px;
                    &::placeholder {
                        color: white;
                        font-size: 3.90625vw;
                    }
                }
                input[type=submit] {
                    background: #04724D;
                    border: 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    #content {
        #container {
            .contact-wrapper {
                display: flex;
                flex-wrap: wrap;
                h3.section-title {
                    font-size: 3vw;
                    width: 100%;
                }
                .form-wrapper {
                    width: 60%;
                    margin: 0 auto;
                    input {
                        padding: 10px;
                        font-size: 1vw;
                        margin-bottom: 10px;
                        &::placeholder {
                            font-size: 1vw;
                        }
                    }
                    textarea {
                        height: 50%;
                        font-size: 1vw;
                        resize: none;
                        &::placeholder {
                            font-size: 1vw;
                        }
                    }
                    input[type=submit]:hover {
                        background: #06A570;
                        cursor: pointer;
                        border: 0;
                    }
                }
            }
        }
    }
}