footer {
    padding: 20px;
    background: #a09ca1;
    font-size: 3vw;
    width: 100%;
    flex: 0 0 auto;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
}