#gallery-content-area {
    background: green;
    height: 100%;
    width: 100%;
    margin-top: 77px;
    #container {
        height: 100%;
        background: blue;
        display: flex;
        &.active {
            display: none;
        }
        .desktop-nav {
            display: none;
        }
        .content-wrapper {
            width: 100%;
            padding: 20px 5px;
            flex: 1 1 auto;
            h3.section-title {
                font-family: sans-serif;
                text-align: center;
                margin-bottom: 10px;
            }
            .gallery-box {
                display: grid;
                grid-template-rows: 200px 200px 200px;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 5px;
                grid-row-gap: 5px;
                .gallery-item {
                    background: grey;
                    background-position: center center;
                    background-size: cover;
                    &.i1 {
                        background-image: url('/images/monument_1.jpg');
                    }
                    &.i2 {
                        background-image: url('/images/monument_2.jpg');
                    }
                    &.i3 {
                        background-image: url('/images/monument_3.jpg');
                    }
                    &.i4 {
                        background-image: url('/images/monument_4.jpg');
                    }
                    &.i5 {
                        background-image: url('/images/monument_5.jpg');
                    }
                    &.i6 {
                        background-image: url('/images/monument_6.jpg');
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    #gallery-content-area {
        background: red;
        height: 90%;
        width: 90%;
        margin: 0 auto;
        #container {
            flex-direction: row;
            height: 100%;
            .desktop-wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                .desktop-nav {
                    display: flex;
                    width: 80%;
                    margin: 0 auto;
                    padding: 0 15px;
                    background: orange;
                    align-items: center;
                    justify-content: space-between;
                    a#site-title {
                        font-size: 1vw;
                        font-family: sans-serif;
                        text-decoration: none;
                        color: white;
                    }
                    .links {
                        display: flex;
                        width: 30%;
                        .link {
                            display: block;
                            padding: 15px;
                            font-size: 1vw;
                            font-family: sans-serif;
                            text-decoration: none;
                            color: white;
                            &:hover {
                                background: blue;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .content-wrapper {
                    margin: 0 auto;
                    width: 100%;
                    padding: 25px 0;
                    .gallery-box {
                        grid-template-columns: auto auto auto;
                        grid-template-rows: 200px 200px;
                        grid-column-gap: 10px;
                        grid-row-gap: 10px;
                        width: 85%;
                        margin: 0 auto;
                        padding: 20px 0;
                    }
                }
                footer {
                    font-size: 1vw;
                    text-align: center;
                }
            }
        }
    }
}