#content {
    #container {
        .gallery-wrapper {
            width: 100%;
            height: 100%;
            padding: 20px 30px;
            h3.section-title {
                font-family: 'Barlow Condensed', sans-serif;
                text-align: center;
                font-size: 6.25vw;
                margin-bottom: 10px;
                color: #fff;
            }
            .gallery-box {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 200px 200px 200px;
                grid-column-gap: 5px;
                grid-row-gap: 5px;
                .gallery-item {
                    background: grey;
                    background-position: center center;
                    background-size: cover;
                    &.i1 {
                        background-image: url('/images/monument_1.jpg');
                    }
                    &.i2 {
                        background-image: url('/images/monument_2.jpg');
                    }
                    &.i3 {
                        background-image: url('/images/monument_3.jpg');
                    }
                    &.i4 {
                        background-image: url('/images/monument_4.jpg');
                    }
                    &.i5 {
                        background-image: url('/images/monument_5.jpg');
                    }
                    &.i6 {
                        background-image: url('/images/monument_6.jpg');
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    #content {
        #container {
            .gallery-wrapper {
                h3.section-title {
                    font-size: 3vw;
                }
                .gallery-box {
                    overflow-y: scroll;
                    grid-template-rows: 200px 200px 200px;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 15px;
                    grid-row-gap: 15px;
                    height: 90%;
                    padding: 10px;
                    &::-webkit-scrollbar {
                        width: 10px;
                    }
                    &::-webkit-scrollbar-track {
                        border-radius: 10px;
                        box-shadow: inset 0 0 5px #353A47;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: #5B647A;
                        border-radius: 10px;
                        &:hover {
                            background: #353a47;
                        }
                    }
                }
            }
        }
    }
}