#content {
    #container {
        .img-wrapper {
            width: 100%;
            height: 50vh;
            background: url('/images/hero.jpg');
            background-size: cover;
            background-position: center center;
        }
        .text-wrapper {
            width: 100%;
            padding: 20px 30px;
            font-family: 'Barlow Condensed', sans-serif;
            color: #fff;
            h3.section-title {
                font-size: 8vw;
                text-align: center;
                margin-bottom: 10px;
            }
            p.about-us {
                font-size: 5vw;
                line-height: 1.3;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    #content {
        #container {
            .img-wrapper {
                width: 50%;
                height: 100%;
            }
            .text-wrapper {
                width: 50%;
                height: 100%;
                h3.section-title {
                    font-size: 3vw;
                }
                p.about-us {
                    font-size: 1.875vw;
                }
            }
        }
    }
}