#home-content-area {
    display: flex;
    width: 100%;
    position: relative;
    .container {
        position: relative;
        width: 100%;
        .hero-image {
            display: none;
        }
        .hero-image-m {
            height: 60vh;
            background: url('/images/hero.jpg');
            background-size: cover;
            width: 100%;
        }
        .about-us {
            padding: 20px;
            background: lightblue;
            p.about-us-txt {
                font-size: 5vw;
            }
        }
    }
}

@media only screen and (min-width: 720px) {
    
}

@media only screen and (min-width: 1024px) {
    #home-content-area {
        display: block;
        height: 100vh;
        .container {
            max-width: 900px;
            margin: 0 auto;
            height: 90%;
            padding: 50px 0;
            display: flex;
            .hero-image {
                width: 50%;
                background: url('/images/hero.jpg');
                background-size: cover;
                display: inline-block;
            }
            
            .home-wrapper {
                width: 50%;
                height: auto;
                display: flex;
                flex-direction: column;
                #nav {
                    display: flex;
                    width: 100%;
                    background: red;
                    height: auto;
                    flex: 0 0 auto;
                    a#site-title {
                        font-size: 2vw;
                    }
                    i#menu-icon {
                        display: none;
                    }
                    ul {
                        display: inline-block;
                        li {
                            display: inline-block;
                            margin-right: 10px;
                            a {
                                text-decoration: none;
                                color: white;
                                font-size: 1vw;
                            }
                        }
                    }
                }
                .hero-image-m {
                    order: -1;
                    width: 50%;
                    height: auto;
                    display: none;
                }
                .about-us {
                    height: auto;
                    flex: 1 1 auto;
                    p.about-us-txt {
                        font-size: 1vw;
                    }
                }
            }
        }
    }
}