#mobile-nav {
    padding: 20px;
    background: #a19c9f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    a#site-title {
        font-family: 'Mansalva', cursive;
        font-size: 10vw;
        text-decoration: none;
        color: white;
    }
    i#menu-icon {
        color: white;
        font-size: 10vw;
    }
}

#mobile-dropdown {
    background: #babab3;
    height: 100%;
    display: none;
    &.active {
        display: block;
    }
    ul {
        display: flex;
        flex-direction: column;
        li {
            padding: 30px;
            border-bottom: 2px solid #ada6ab;
            display: flex;
            justify-content: center;
            a {
                color: white;
                text-decoration: none;
                font-family: 'Barlow Condensed', sans-serif;
                font-size: 10vw;
                text-align: center;
                margin: 0 auto;
            }
        }
    }
}



@media only screen and (min-width: 1024px) {
    #mobile-nav {
        display: none;
    }
}